.m-wpr>div{
  max-width: 1300px;
  margin: 0 auto;
  width: 90vw;
  display: flex;
  gap: 30px;
  mix-blend-mode: multiply;
  align-items: center;
  padding: 50px 0;
}
.img-wpr{
  width:30vw;
}
.img-wpr>img{
  width: 30vw;
}
.ssw>h1{
  padding: 10px 0;
  color: #001d7a;
  margin-bottom: 10px;
}
.m-wpr{
  background: #f8fafc;
  color: #374151;
}
