.ll-wpr{
  background: #eff6ff;
}
.ll-wpr>div{
 max-width: 1300px;
 margin: 0 auto;
 width: 90vw;
 display: flex;
 flex-direction: column;
 align-items: center;
 padding: 50px 0;
}

.ll-wpr>div>h2{
  padding-bottom: 20px;
  color: #001d7a;
  font-size: 35px;
}
.ll-wpr>div>p{
  max-width: 500px;
  line-height: 25px;
  text-align: center;
  margin-bottom: 20px;
}
.ll-wpr>div>a{
  padding: 10px 12px;
  color:#001d7a ;
  border: 1px solid #001d7a;
  border-radius: 1000px;
}
.ll-wpr>div>img{
  width: 20vw;
  mix-blend-mode: multiply;
}
