.s-wpr {
  background: rgb(139, 92, 246);
  background: radial-gradient(
    circle,
    rgba(139, 92, 246, 1) 0%,
    rgba(30, 27, 75, 1) 100%
  );
}
.s-wpr > div {
  max-width: 1300px;
  margin: 0 auto;
  width: 90vw;
  color: #cbd5e1;
  display: flex;
  gap: 20px;
  padding: 20px 0;
}
.s-wpr>div>div>h2{
  color: white;
  padding-bottom: 10px;
}
ul{
 list-style: none;
}
