footer {
  padding: 20px 0;
  margin: 0 20px;
  margin: 0 auto;
  max-width: 1300px;
  width: 90vw;
}
footer > p {
  text-align: center;
}
footer>div{
  display: flex;
  justify-content: space-around;
  gap: 10px;
}
.f-wpr{
  border-top: 4px solid lightgray;
  background: #172554;
  color: white;
}
.icons{
  justify-content: center;
}
.icons > i {
  padding: 10px 5px;
  margin: 0 5px;
}
.flex2>div{
  display: flex;
  flex-direction: column;
}
.flex2>div>a{
  color: #e2e8f0;
  margin: 3px 0;
}
